body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    
}
.name-color{
    color: orange;
}
.opening{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.opening img{
    width: 100%;
}